<div>
   <%= render 'stops/stop-errors' %>

	<%= form_for @stop do |f| %>
	Number:<%= f.text_field :number %></br>
	Name:<%= f.text_field :name %></br>
	Details:<%= f.text_field :details %></br>

	
	  Select it's route number:</br>
	<p><%= f.collection_radio_buttons(:route_id, Route.all, :id, :number)%></p>
	<%= f.submit %>
	<% end %>
</div>

