<!DOCTYPE html>
<html>
  <head>
    <title>Transpo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <h1> Welcome to campus Transpo(tation)</h1>
    <%= render 'layouts/main-headers' %>
  <body>
    <%= yield %>
  </body>
</html>
